<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="false">

    <servlet>
        <servlet-name>NotThatSimpleJavaServlet</servlet-name>
        <!-- NOTE: package name shortened for readability -->
        <servlet-class>pl.juniorjavadeveloper.java.juniortransitionmid.deepunderstanding.spring.mvc_java_servlet.NotThatSimpleJavaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotThatSimpleJavaServlet</servlet-name>
        <url-pattern>/dashboard/java/servlet/*</url-pattern>
    </servlet-mapping>
</web-app>
